*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left,aqua,pink);
}
section{
    height: 100vh;
    background-image: linear-gradient(to left,aqua,rgb(222, 255, 192));
    
}
.container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    min-height: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 5px solid rgb(119, 0, 255);
}
.quote{
    color: white;
    font-size: 30px;
    border: 2px solid grey;
    padding: 10px;
}
.author{
    color: rgb(21, 255, 0);
    text-align: center;
    margin-top: 20px;
    border: 2px solid grey;
    padding: 10px;
    
}
#newquote{
    height: 50px;
    width: 200px;
    margin: 50px 270px;
    font-size: 20px;
    background-color: blue;
    color: white;
}
